<style>
#o-contact-ribbon-acq {
        padding: 7px 0;
        background-color: #f8d147;
    }

    #o-contact-ribbon-acq.o-double {
        border-top: 1px solid #ffffff;
    }

    #o-contact-ribbon-acq .container::after {
        content: \'\';
        display: table;
        clear: both;
    }

    #o-contact-ribbon-acq .container {
        position: relative;

        padding: 0;
    }

    #o-contact-ribbon-acq .o-ribbon-text {
        text-align: center;
        font-size: 15px;
        padding: 2px 0;
        line-height: 1;
    }

    #o-contact-ribbon-acq .o-ribbon-text svg {
        vertical-align: middle;
        margin-right: 10px;
    }

    #o-contact-ribbon-acq .o-action {
        cursor: pointer;
        color: #000;
        text-decoration: underline;
        white-space: nowrap;
    }

    #o-contact-ribbon-acq.o-double .container {
        padding: 0 20px;
    }

    #o-contact-ribbon-acq.o-double .o-action {
        right: 15px;
    }

    @media (max-width: 1200px)
        #o-contact-ribbon-acq.o-double {
            margin-top: 0;
        }

        #o-contact-ribbon-acq {
            margin-top: 10px;
        }
    }
</style>

<div id="o-contact-ribbon-acq">
<div class="container">
    <div class="o-ribbon-text">
       <svg width="24" height="24">
           <image xlink:href="//cdn-x.omniconvert.com/public/uploads/2020-05/a964cdbb648fcf0a86af4e9a4366199b.svg" src="//cdn-x.omniconvert.com/public/uploads/2020-05/953a357a61abf736dc65b2fa1d71e5bc.png" width="24" height="24"/>
       </svg>
        Ești client nou și vrei o ofertă personalizată?'
       <a class="o-action">Detalii aici.</a>
    </div>
    </div>
</div>
